.blogPage {
    user-select: none;
    padding: 24px 20px;
    font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;

    margin-bottom: 150px;

    .blogContainer {
        font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times,
            serif;
        max-width: 720px;
        margin: auto;
        white-space: pre-line;

        .blogTimestamp {
            span {
                padding: 0 3px;
            }
        }

        .blogTags {
            padding: 10px 0 0 0;
            margin: 0px 0 20px 0;

            span {
                font-size: 14px;
                font-family: 'Fira Code', 'Source Serif Pro', monospace;

                padding: 4px 10px;
                margin-right: 10px;

                border-radius: 90px;

                background-color: var(--primary);
                color: var(--background);
            }
        }

        .blogArtwork {
            max-width: 720px;
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 800px) {
    .blogPage {
        padding: 20px 0px;

        .blogContainer {
            width: 100%;
            max-width: 90vw;
        }

        .blogArtwork {
            width: 100%;
            max-width: 80vw;
        }
    }
}
