.floatingFooter {
    .floatingFooterContainer {
        .floatingFooterLeft {
            position: fixed;
            left: 40px;
            right: auto;
            bottom: 0px;

            ul {
                width: 48px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                li {
                    padding-top: 5px;

                    a {
                        svg {
                            transition: all 0.3s;
                            -webkit-transition: all 0.3s;

                            width: 20px;
                            height: 20px;
                            margin-bottom: 12px;
                            stroke-width: 1.5px;

                            color: var(--silver);

                            &:hover {
                                color: var(--primary);
                                transform: scale(1.15);
                            }

                            &:active {
                                color: var(--primary);
                                transform: scale(0.95);
                            }
                        }
                    }

                    // this is the special svg icon, this is the email icon which only works with fill and not with color tag in css
                    &:nth-child(4) {
                        a {
                            svg {
                                fill: var(--silver);

                                &:hover {
                                    fill: var(--primary);
                                    transform: scale(1.15);
                                }

                                &:active {
                                    color: var(--primary);
                                    transform: scale(0.95);
                                }
                            }
                        }
                    }

                    .floatingVerticalLine {
                        display: block;
                        width: 1px;
                        height: 90px;
                        margin-top: 15px;
                        margin-right: auto;
                        background-color: var(--silver);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1175px) {
    .floatingFooter {
        display: none;
    }
}
