.header {
    height: var(--header-height);
    width: 100%;

    .mainHeader {
        height: var(--header-height);
        width: 94%;

        margin: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logoWrapper {
            z-index: 1000;

            a {
                font-weight: 500;
                font-size: 22px;

                display: flex;
                flex-direction: row;
                padding: 10px;

                border-bottom: 1px solid transparent; // no wobble

                p {
                    padding-left: 8px; // to provide a gap between the copyright symbol

                    position: relative;
                    display: block;
                    overflow: hidden;

                    animation-duration: 1s;
                    animation-fill-mode: both;

                    span {
                        font-size: 20px;
                        font-weight: 500;

                        display: block;

                        // for a proper animation
                        transition: transform 500ms
                            cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    }

                    &:after {
                        content: attr(data-link-alternative);
                        padding-left: 8px; // to provide a gap between the copyright symbol

                        font-weight: 500;
                        font-size: 20px;

                        position: absolute;
                        display: inline;

                        transition: top 500ms
                            cubic-bezier(0.68, -0.55, 0.265, 1.55);
                        top: 100%;
                        left: 0;
                        right: 0;
                    }

                    &:hover {
                        color: var(--primary);

                        span {
                            // bring the hidden span to the view
                            transform: translateY(-100%);
                        }

                        &:after {
                            top: 0;
                        }
                    }
                }

                &:hover {
                    color: var(--primary);
                }

                &:focus-visible {
                    border-bottom: 2px dashed var(--primary);
                }
            }
        }

        .navigations {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            ol.navigationsList {
                // display: block;
                transform: scale(1); // for animation of small screen

                display: flex; // helper for animation of small screen

                flex-direction: row;
                justify-content: center;
                align-items: center;

                li {
                    margin: 0px 5px;
                    height: max-content;

                    a {
                        display: block;
                        padding: 10px;
                        font-size: 17px;

                        position: relative;

                        text-decoration: none;
                        transition: all 0.15s ease-out;

                        border-bottom: 1px solid transparent; // no wobble

                        // for animation purpose...
                        &:before {
                            content: '';

                            position: absolute;

                            width: 100%;
                            height: 1px;

                            bottom: 0px;
                            left: 0;

                            background: var(--primary);

                            visibility: hidden;
                            transform: scaleX(0);
                            transition: all 0.3s ease-in-out 0s;
                        }

                        &:hover {
                            color: var(--primary);

                            &:before {
                                visibility: visible;
                                transform: scaleX(1);
                            }
                        }

                        &:focus-visible {
                            border-bottom: 2px dashed var(--primary);
                        }
                    }
                }
            }

            .menuIconContainer {
                transform: scale(0); // for animation of small screen

                display: none; // for animation of small screen

                svg {
                    cursor: pointer;

                    height: 25px;
                    width: 25px;

                    fill: var(--silver);
                }
            }
        }

        .menuButton {
            z-index: 1000;

            position: fixed;
            top: 25px;
            right: 25px;

            width: 70px;
            height: 70px;

            background-color: var(--silver);

            border-radius: 50px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            svg {
                height: 30px;
                width: 30px;
                fill: var(--background);

                transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);

                &.active {
                    rect {
                        &:nth-child(1) {
                            -webkit-transform: rotate(45deg);
                            -moz-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            transform: rotate(45deg) translate(10px, -15px);
                        }
                        &:nth-child(2) {
                            -webkit-transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -o-transform: rotate(-45deg);
                            transform: rotate(-45deg) translate(-38px, 26px);
                        }
                        &:nth-child(3) {
                            top: 18px;
                            width: 0%;
                            left: 50%;
                        }
                    }
                }
            }

            &.active {
                // transform: scale(1) translate(0, 0);
                transform: scale(1);

                svg {
                    transform: scale(1);
                }
            }
            &.inactive {
                // transform: scale(0) translate(50px, -50px);
                transform: scale(0);

                svg {
                    transform: scale(0);
                }
            }
        }

        .menuContainer {
            position: fixed;
            z-index: 999;
            top: 0;
            right: 0;

            width: 100%;
            height: 100%;

            transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

            .menuBackdrop {
                height: 100%;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                backdrop-filter: blur(10px);

                .menuRightPartition {
                    flex-grow: 2;
                    height: 100%;
                }

                .menuPartition {
                    background-color: rgba(var(--background-rgb), 0.55);
                    box-shadow: -10px 0 30px rgba(var(--shadow-rgb), 0.35);
                    backdrop-filter: blur(10px);

                    max-width: 550px;
                    min-width: 360px;
                    width: 500px;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;

                    p.navigationHeading {
                        border-bottom: 0.5px solid
                            rgba(var(--silver-dim-rgb), 0.55);

                        padding: 20px 10px;
                        margin: 20% auto 5% auto;
                        min-width: 300px;
                        width: 360px;

                        font-size: 20px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }

                    ol.navigationsList {
                        padding: 20px 0px 10px 0;
                        margin: 10px 20px;
                        margin: 15px auto 10% auto;
                        min-width: 300px;
                        width: 360px;

                        li {
                            margin: 20px 5px;
                            height: max-content;
                            // background-color: aquamarine;

                            a {
                                display: block;
                                padding: 10px;
                                font-size: 17px;

                                position: relative;

                                text-decoration: none;
                                transition: all 0.15s ease-out;

                                border-bottom: 1px solid
                                    rgba(var(--silver-dim-rgb), 0.55); // no wobble

                                // for animation purpose...
                                &:before {
                                    content: '';

                                    position: absolute;

                                    width: 100%;
                                    height: 1px;

                                    bottom: 0px;
                                    left: 0;

                                    background: var(--primary);

                                    visibility: hidden;
                                    transform: scaleX(0);
                                    transition: all 0.3s ease-in-out 0s;
                                }

                                &:hover {
                                    color: var(--primary);

                                    &:before {
                                        visibility: visible;
                                        transform: scaleX(1);
                                    }
                                }

                                &:focus-visible {
                                    border-bottom: 2px dashed var(--primary);
                                }
                            }
                        }

                        p.randomizeThemeBtn {
                            cursor: pointer;

                            font-size: 18px;
                            font-weight: 600;

                            text-align: center;
                            color: var(--primary);

                            padding: 10px 20px;
                        }
                    }

                    .socialMediaContainer {
                        width: 100%;
                        flex-grow: 2;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        ol.socialsList {
                            width: 100%;

                            padding: 0px 0;
                            margin: 5px 0;

                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: wrap;

                            li {
                                margin: 0px 5px;
                                height: max-content;

                                a {
                                    display: block;
                                    padding: 5px 10px;
                                    font-size: 17px;

                                    position: relative;

                                    text-decoration: none;
                                    transition: all 0.15s ease-out;

                                    border-bottom: 1px solid transparent; // no wobble

                                    // for animation purpose...
                                    &:before {
                                        content: '';

                                        position: absolute;

                                        width: 100%;
                                        height: 1px;

                                        bottom: 0px;
                                        left: 0;

                                        background: var(--primary);

                                        visibility: hidden;
                                        transform: scaleX(0);
                                        transition: all 0.3s ease-in-out 0s;
                                    }

                                    &:hover {
                                        color: var(--primary);

                                        &:before {
                                            visibility: visible;
                                            transform: scaleX(1);
                                        }
                                    }

                                    &:focus-visible {
                                        border-bottom: 2px dashed var(--primary);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.active {
                top: 0;
                right: 0;
            }
            &.inactive {
                top: 0;
                right: -100%;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .header {
        .mainHeader {
            .menuContainer {
                .menuBackdrop {
                    .menuPartition {
                        width: 400px;

                        p.navigationHeading {
                            width: 300px;
                        }

                        ol.navigationsList {
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .header {
        .mainHeader {
            .navigations {
                ol.navigationsList {
                    transform: scale(0);
                    display: none;
                }

                .menuIconContainer {
                    display: block;
                    transform: scale(1);
                    margin-right: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .header {
        .mainHeader {
            .logoWrapper {
                a {
                    font-size: 18px;
                    font-weight: normal;

                    p {
                        &:after {
                            font-size: 16px;
                            font-weight: normal;
                        }

                        span {
                            font-size: 16px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .header {
        .mainHeader {
            .menuButton {
                width: 60px;
                height: 60px;

                svg {
                    width: 26px;
                    height: 26px;
                }
            }

            .menuContainer {
                .menuBackdrop {
                    .menuPartition {
                        width: 100%;

                        // hide shadow or lowers its visibility bcz it will distract the user from the main view in small screen
                        box-shadow: -12px 0 10px rgba(var(--shadow-rgb), 0.2);

                        p.navigationHeading {
                            width: 300px;
                        }

                        ol.navigationsList {
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .header {
        .mainHeader {
            .menuContainer {
                .menuBackdrop {
                    .menuPartition {
                        width: 100%;

                        // hide shadow bcz it will distract the user from the main view in small screen
                        box-shadow: -12px 0 10px rgba(var(--shadow-rgb), 0.35);

                        p.navigationHeading {
                            width: 100%;
                        }

                        ol.navigationsList {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
