.blogsContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    .blogsWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: auto;

        max-width: 1000px;
        width: 1200px;
        min-height: 90vh;

        .blogsHeader {
            width: 100%;
            margin: 26px 0;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .blogsHeading {
                font-size: 32px;
                font-weight: 600;

                color: var(--silver);
                text-align: center;
            }

            .line {
                width: 250px;
                padding: 3px 0px;
                margin: 0 25px;

                border-top: 1px solid rgba(var(--silver-rgb), 0.33);
            }
        }

        .blogDescription {
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            flex-wrap: wrap;
        }

        .moreBlogsButtonHolder {
            .moreBlogsButton {
                cursor: pointer;

                font-family: Karla;

                background-color: transparent;

                border-radius: 4px;
                border: 1px solid var(--primary);

                margin: 15px 0px;

                a {
                    display: block;
                    padding: 15px 30px;
                }

                &:hover {
                    background-color: rgba(var(--primary-rgb), 0.1);
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .blogsContainer {
        .blogsWrapper {
            width: 1000px;

            .blogsHeader {
                .blogsHeading {
                    font-size: 30px;
                }

                .line {
                    width: 150px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .blogsContainer {
        .blogsWrapper {
            width: 900px;

            .blogsHeader {
                .blogsHeading {
                    font-size: 28px;
                }

                .line {
                    width: 90px;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .blogsContainer {
        .blogsWrapper {
            width: 750px;

            .blogsHeader {
                .blogsHeading {
                    font-size: 28px;
                }

                .line {
                    width: 90px;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .blogsContainer {
        .blogsWrapper {
            width: 600px;

            .blogsHeader {
                .blogsHeading {
                    font-size: 26px;
                }

                .line {
                    width: 70px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .blogsContainer {
        .blogsWrapper {
            width: 500px;

            .blogsHeader {
                .blogsHeading {
                    font-size: 24px;
                }

                .line {
                    width: 60px;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .blogsContainer {
        .blogsWrapper {
            width: 100%;
            padding: 0 0px;

            .blogsHeader {
                padding-top: 100px;
            }

            .blogsHeader {
                .blogsHeading {
                    font-size: 24px;
                }

                .line {
                    width: 30px;
                    margin: 10px;
                }
            }
        }
    }
}
